{% extends 'base.html.twig' %}

{% block title %}Hello DevisController!{% endblock %}

{% block body %}
{# BLOC : ADRESSE ENTREPRISE #}
	{% for devi in devis %}
        <ul>
            <li>{{ dump(devi) }}</li>
        </ul>
	{% endfor %}
{% endblock %}
