{% extends 'base.html.twig' %}

{% block title %}Agriproxi | Entreprise{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <ul class="">
        {% for entreprise in entreprises %}
            {# <a class="text-decoration-none" href="{{ path('ficheConference', { id: conference.id }) }}"> #}
                <li class="">
                    {{ entreprise.name }}
                </li>
            </a>
        {% endfor %}
    </ul>

    <a href="{{path('createEntreprise')}}">Création d'entreprise</a>
    <a href="{{path('createAdresse')}}">Création d'adresse</a>
</div>
{% endblock %}
