{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block title %}Salut bande de tocards!{% endblock %}

{% block body %}

<div id="map"></div>

<div>
    <div id="search_filter">
        <label for="categories">Catégorie:</label>
        <select name ="categories" id="categories">
            <option value="">Choisissez une catégorie:</option>
        </select>
    </div>

    <div id="search_result">
    </div>
</div>

{% endblock %}