@import './utility.scss';


h1 {
    font-family: poppins-b;
    font-size: 32px;
    color: black;
}

h2{
    font-family: poppins-b;
    font-size: 24px;
    color: $green;
}

h3 {
    font-family: sansita;
    font-size: 18px;
    color: black;
}

p {
    font-family: poppins-l;
    font-size: 13px;
    color: black;
}

li, a, label {
    font-family: exo;
    font-size: 16px;
    color: black;
}

.btn_link {
    font-family: exo;
    font-size: 20px;
    color: white;
    background-color: $red;
    border-style: none;
    border-radius: 10px ;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn_link_green {
    font-family: exo;
    font-size: 20px;
    color: white;
    background-color: $green;
    border-style: none;
    border-radius: 10px ;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}