@import './utility.scss';

//FORMULAIRE
.form_width {
    margin: auto;
}

.btn_link {
    font-family: exo;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    background-color: $red;
    border-style: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.btn_link:hover {
    color: white;
}

.btn_link_green {
    font-family: exo;
    font-size: 17px;
    color: white;
    background-color: $green;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

//ICON + TEXT
.bloc_icon {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: white;
    border: 0;
    padding: 20px;
}

//ICON
.produit_icon {
    font-size: 45px;
}

/* ------------------ NAVBAR ------------------ */
nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 0px;
    z-index: 100000;
}

//LOGO
.logo {
    width: 150px;
    position: absolute;
    left: 19px;
}

.logo_link {
    position: absolute;
}

//ICON BURGER MENU
.navburger {
    display: none;
}

.navburger_icon {
    color: $red;
    font-size: 35px;
    pointer-events: none;
}

//LIST ITEM
.navlist {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    padding: 15px 35px 0 35px;
    font-size: 14px;
}

//ITEM
nav a {
    display: block;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    text-decoration: none;
}

nav a:hover {
    color: $red;
}

.nav_item {
    padding: 0 20px 0 20px;
    border-right: solid 1px;

}

.nav_item a:hover {
    color: black;
    border-bottom: 2px solid $red;
}

//ITEM MENU DEROULANT
.nav_item--Secondary {
    cursor: pointer;
    border-right: 0;
}

.logout {
    display: none;
}

//MENU DEROULANT
.sub-menu {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    padding: 0 9px;
    position: absolute;
    right: 10px;
    width: 168px;
    z-index: 1000;
}

//ITEM MENU DEROULANT
.sub_item {
    width: 100%;
    float: none;
    text-align: left;
}

.sub_item a:hover {
    color: $red;
    border-bottom: 2px solid $red;
    background-color: RGBa(200, 200, 200, 0.1);
}

//SUB-MENU :: BLOCK
nav>ul li:hover .sub-menu {
    display: block;
}

/* ------------------ SLIDER ------------------ */
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

.banner_title {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    font-size: 53px;
    text-align: center;
    font-family: sacramento;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_img_1 {
    width: 30%;
}

.img_c1 {
    padding-bottom: 38px;
}

/* ------------------ CARDS ------------------ */
//CARDS
.cards {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

//CARD CONTENU
.card_contain {
    width: 55%;
    height: auto;
    background-color: $nude;
    margin: 0 20px;
    padding: 20px;
}

.card_contain_adress {
    background-color: #84c3db21;
    margin: auto;
    width: auto;
    margin: 0 20px;
}

.card_contain--Secondary {
    background-color: $light-green;
}

.def_icon {
    width: 120px;
    height: 120px;
    margin-top: 44px;
}

.card_content {
    display: flex;
    padding: 20px 0 0 0;
}

.desc {
    text-align: center;
    margin-bottom: 50px;
}

.banner_sec {
    position: relative;
}

.img_banner_sec {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.black_banner_sec {
    background-color: #00000059;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 70%;
    text-align: center;
}


.text_bbs {
    color: white;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.banner_sec--Secondary {
    height: 115px;
    margin: 45px 0px;
    width: 55%;
    margin: 35px auto;
}

.img_banner_sec--Secondary {
    height: 115px;
}

.black_banner_sec--Secondary {
    height: 75%;
    background-color: rgb(255 240 240 / 72%);
}

.text_bbs--Secondary {
    color: black;
}

.card_present {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
}

.cards_sec {
    display: flex;
    justify-content: center;
    padding: 40px 170px;
}

.card_img {
    width: 250px;
    height: 250px;
}

.img {
    width: 65%;
}

/* ------------------ MESSAGE ------------------ */
.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    p {
        text-align: center;
        color: $message;
        font-family: poppins-b;
        border-radius: 5px;
        width: 25%;
    }
}

.mobil_deco {
    display: none;
}

/* ------------------ REPONSIVE ------------------ */
@media (max-width: 1250px) {

    //CARDS
    .cards {
        flex-direction: column;
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    //CARD CONTENU
    .card_contain {
        width: 80%;
        margin: 10px auto;
    }

    //CARDS SECONDAIRE
    .cards_sec {
        padding: 30px;
    }


    .banner_title {
        font-size: 42px;
    }

    .card_img_1 {
        width: 70%;
        padding-bottom: 30px;
    }

    .img_c1 {
        padding-bottom: 10px;
    }
}

@media (max-width: 750px) {

    //ICON BURGER MENU
    .navburger {
        display: block;
        cursor: pointer;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 8px;
        right: 19px;
    }

    //BURGER LIST
    .navlist {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        border: none;
        padding: 0;
        top: 70px;
        background-color: white;
    }

    //TRANSITION OPEN/CLOSE
    .transition_nav {
        transition: all 0.3s ease-in-out;
        visibility: visible;
    }

    //MENU DEROULANT
    .sub-menu {
        visibility: hidden;
    }

    //DECONEXION
    .logout {
        display: block;
    }

    //CARD BLOC
    .card_contain {
        width: 90%;
    }

    //CARD CONTENU
    .card_content {
        flex-direction: column;
        padding: 5px;
    }

    //ICON HOME PAGE
    .def_icon {
        display: none;
    }

    //CARDS SECONDAIRE
    .cards_sec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    //TEXT BANIERE SECONDAIRE HOME PAGE
    .text_bbs {
        font-size: 20px;
    }

    //TITRE BANNER SLIDER
    .banner_title {
        font-size: 30px;
    }

    .mobil_deco {
        display: block;
        font-size: 20px;
    }
}

/* ------------------ FOOTER ------------------ */
footer {
    color: #FFFFFF;
    width: 100vw;
    height: 225px;
}

.footer_block {
    margin: 15px;
    text-align: center;

}

.footer_p {
    font-size: 11px;
    color: #FFFFFF;
}

/* BLOC GAUCHE "CONTACT" */
#footer_subtitle {
    font-weight: bold;
}

/* BLOC CENTRAL : RESEAUX SOCIAUX */
#footer_title {
    font-size: 14px;
    color: #FFFFFF;
}

.footer_icon {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* FORMATAGE CERCLE/ICON */
.icon {
    margin: 0 10px;
    padding: 3px 6px 0px 6px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 18px;
    transition: ease-in-out 0.5s;
}

.icon:hover {
    transform: rotate(180deg);
}

/* BLOC DROIT : MENTIONS LEGALES */
#footer_link {
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}

.footer_img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -2;
}


/* ------------------ RESPONSIVE FOOTER ------------------ */
@media (min-width: 650px) {
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        object-fit: cover;
        height: 225px;
    }

    footer>* {
        width: 25%;
    }

    #footer_title {
        font-size: 15px;
    }

    .footer_block--secondary {
        padding: 0 50px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-color: #000000;
        width: 50%;
    }

    .footer_img {
        height: 225px;
    }
}

.center {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}