@import './utility.scss';

body {
    height: 90vh;
    main{
        overflow-y: hidden;
        height: inherit;
        #products{
            display: flex;
            height: inherit;
            #map { 
                height: 100%; 
                width: 1200px;
                border-radius: 20px;
                border: solid 2px;
                border-color: $blue;
            }
            #product_search {
                width: 35%;
                margin-left: 20px;
            }
        }
    }
}

#search_filter {
    margin-bottom: 10px;
}

#search_result {
    overflow: scroll;
    height: 90%;
    overflow-x: hidden;
}

.product_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px;
    border-color: $green;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.product_desc {
    display: flex;
    align-items: center;
}