@import './utility.scss';

.bold {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}

.link {
    font-size: 20px;
    border: 0;
    background-color: transparent;
}

.bloc_icon_user {
    display: flex;
}

.head_card {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn_icon {
    padding: 0 5px;
    font-size: 35px;
}

.adress {
    display: flex;
    border: solid 1px #ffffff8c;
    width: fit-content;
    margin: 5px 20px;
}

.adress_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------------------ MODAL ------------------ */
//MODAL LAYOUT
.modal,
.modal_user {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

//MODAL CONTENU
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}

//FERMETURE MODAL
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    padding-bottom: 20px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

#h3_user {
    color: red;
    font-weight: bold;
}