//POLICE
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-b;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-l;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: sansita;
    src: url(../fonts/Sansita/Sansita-Regular.ttf);
}

@font-face {
    font-family: exo;
    src: url(../fonts/Exo/static/Exo-Medium.ttf);
}

@font-face {
    font-family: sacramento;
    src: url(../fonts/sacramento/Sacramento-Regular.ttf);
}

//COLOR
$green : #31B86B;
$light-green : #DFFFB6;
$red : #FE6C6C;
$nude : #FFF3B6;
$yellow : #FFE975;
$blue : #84C3DB;
$message : #ff7e71;

//SETTUP
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

main {
    min-height: 60vh;
    width: 80%;
    margin: 40px auto;
}

h1 {
    font-family: poppins-b;
    font-size: 28px;
    color: $green;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: sansita;
    font-size: 24px;
    color: black;
}

h3 {
    font-family: exo;
    font-size: 18px;
    color: black;
}

p {
    font-family: poppins-l;
    font-size: 16px;
    color: black;
}

ul,
a,
label {
    font-family: exo;
    font-size: 16px;
    color: black;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
}

input {
    font-family: poppins-l;
    font-size: 16px;
    color: black;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
}

a:hover {
    color: currentColor;
}

@media (max-width: 1250px) {
    main {
        width: 95%;
    }

    h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 20px;
    }

    ul,
    a,
    label {
        font-size: 13px;
    }

    p {
        font-size: 13px;
    }
}


@media (max-width: 750px) {

    h2 {
        font-size: 15px;
    }
}


.green {
    color: $green;
}

.red {
    color: #ff0000;
}

//Annotations
.annotation {
    font-style: italic;
    font-size: 0.7em;
}