@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-b;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-l;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: sansita;
    src: url(../fonts/Sansita/Sansita-Regular.ttf);
}

@font-face {
    font-family: exo;
    src: url(../fonts/Exo/static/Exo-Medium.ttf);
}

$green : #31B86B;
$light-green : #DFFFB6;
$red : #FE6C6C;
$nude : #FFF3B6;
$yellow : #FFE975;
$blue : #84C3DB; 
$orangeSand : #e0b24b;//#3173ec;#0e43a3;#349b8d;#e0b24b