{% extends 'base.html.twig' %}

{% block title %}Agriproxi | Utilisateur{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mon compte</h1>
    <p class="annotation">Tous les champs sont obligatoires *</p>
    <div class="form_width">
        {{ form(form_user) }}
    </div>
    
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    
    {% if app.user %}
    <a href="{{path('app_user')}}">Retour</a>
    {% else %}
    <a href="{{path('app_login')}}">Retour</a>
    {% endif %}

</div>
{% endblock %}